# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/lib
.cache
development
dist

.parcel-cache

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.gradle
.project
.settings/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/settings.json
.parcel-cache
/gradle
gradlew
gradlew.bat

# Ignore Gradle build output directory
build
yarn.loc
package-lock.json
